.container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Thermostat {
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.ring {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(36, 0, 29, 1) 6%,
    rgba(9, 51, 199, 1) 34%,
    rgba(7, 194, 255, 1) 53%,
    rgba(241, 255, 0, 1) 61%,
    rgba(243, 228, 0, 1) 66%,
    rgba(247, 148, 2, 1) 71%,
    rgba(255, 0, 5, 1) 78%
  );

  z-index: 1;
}

.border {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: #fff;
  transform-origin: 0 0;
  transform: rotate(45deg);
  border-radius: 0 0 100px 0;
}

.status {
  width: 135px;
  height: 135px;
  background: white;
  z-index: 2;
  border-radius: 50%;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
}

.temp {
  font-family: "Nunito Sans", sans-serif;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// .temp:nth-child(1) {
//   opacity: 1;
//   transform: translate(30px, 30%) scale(1);
//   position: absolute;
//   transition: 0.5s ease-in-out;
// }

// .temp:nth-child(2) {
//   opacity: 0;
//   transform: translate(60px, 30%) scale(0);
//   transition: 0.5s ease-in-out;
// }

.indicator {
  width: 1px;
  height: 12px;
  position: absolute;
  left: 50%;
  background: #6c6c6c;
  transform-origin: 0 65px;
  transform: rotate(-50deg);
  transition: 0.5s ease-in-out;
}
